[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "rqg"]
	path = rqg
	url = https://github.com/yoshinorim/rqg.git
[submodule "tbb"]
	path = third_party/tbb
	url = https://github.com/01org/tbb.git
[submodule "cityhash"]
	path = third_party/cityhash
	url = https://github.com/google/cityhash.git
